<div>

<!-- players navigation bar here -->

<nav class="navbar navbar-expand-lg navbar-light bg-light mt-1">

  <a class="navbar-brand" href=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ml-1">
        <!-- note that since we are in list and addplayer parent path, we only list thc child path in the routerlinl-->

        <a class="text-success" [routerLink]="['list']">List</a>
      </li>
      <li class="nav-item ml-5">
        <a  class="text-success" [routerLink]="['addplayer']">Add Player</a>
      </li>

    </ul>

  </div>

</nav>

<!-- content body here, depending on player nav option chosen -->

  <router-outlet></router-outlet>

</div>

